<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add book</title>
</head>
<body>
<b>Add book</b>
<form action="save_book" method="post">
    <input type="text" name="name" class="form-control" placeholder="enter name"><br>
    <input type="text" name="genre" class="form-control" placeholder="enter genre"><br>
    <input type="text" name="price_of_book" class="form-control" placeholder="enter price of book"><br>
    <input type="text" name="num_of_copies" class="form-control" placeholder="enter number of copies"><br>
    <input tupe="text" name="authors" class="form-control" placeholder="enter authors"><br>
    <input tupe="text" name="price_per_day" class="form-control" placeholder="enter price per day"><br>
    <input tupe="text" name="reg_date" class="form-control" placeholder="enter registration date"><br>
<button class="btn btn-warning">Save book</button>
</form>
<br>
<table>

</table>
</br>
</body>
</html>