<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Give book</title>
</head>
<body>
<b>Give book</b>
<form action="save_rent" method="post">
    <input type="text" name="id_reeder" class="form-control" placeholder="enter reeders id"><br>
    <input type="text" name="id_book" class="form-control" placeholder="enter book id"><br>
    <button class="btn btn-warning">Give book</button>
</form>
<br>
<table>

</table>
</br>
</body>
</html>