<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>
<body>
<b>All books</b>
<br>
<table>
    <th>List</th>
    {{range . }}
    <tr>
        <th>{{ . }}</th>
    </tr>
    {{end}}
</table>
<br>
<a href="/reeders">Reeder's list</a><br>
<a href="/addbook">Add book to library</a><br>
<a href="/addreeder">Add new Reader</a><br>
<a href="/give_book">Give book</a><br>
<a href="/returnbook">Return book</a><br>
</form>
</body>
</html>