<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>successful registration</title>
</head>
<body>
<b>successful registration!!</b>
<br>
<a href="/addbook">Add book to library</a><br>
<a href="/addreeder">Add reeder to library</a><br>
<a href="/home">Go home page</a><br>
</form>
</body>
</html>